services:
  - type: web
    name: bookhive-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /robots.txt
        destination: /robots.txt
      - type: rewrite
        source: /sitemap.xml
        destination: /sitemap.xml
      - type: rewrite
        source: /manifest.json
        destination: /manifest.json
      - type: rewrite
        source: /google*.html
        destination: /google*.html
      - type: rewrite
        source: /*
        destination: /index.html
